/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


/*
  Palette:
  https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff
*/

/*
  Palette:
  https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
*/

* {
  font-family: Roboto, sans-serif;
  background-color: #FFFFFF;
  color: #212529;
}

header h2 {
  padding-top: 25px;
  padding-left: 115px;
}

table {
  background-color: #212529;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

form h5 {
  margin: 0 auto;
}

/* Google Maps */

#maps {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 350px;
  width: 40%;
  min-width: 650px;
  max-width: 650px;
  display:block;
  position:relative;
  border: 2px solid #212529;
}

#maps:hover {
  border: 2px solid #495057;
}

#meny {
width: 80px;
height: 70px;
}

#bild {
  margin-right: 10px;
  margin-left: 4px;
  border: 1px solid #212529;
}

#bild:hover {
  border: 1px solid #C00021;
}

.footer {
  margin-top: 5px;
  text-align: center;
}

#kartlink {
  padding-left: 0.5%;
  text-decoration-line: underline;
}

#logo {
  float: left;
}

#knapp {
  margin-top: 10px;
  height: auto;
  width: auto;
}

#brand {
  margin-top: 5px;
}

.artikel_bild {
  float: left;
}

.hoger_bild {
  margin-top: 248px;
  margin-left: 660px;
  height: auto;
  width: 10%;
  min-width: 155px;
  position: absolute;
  border: 2px solid black;
}
.hoge_bild {
  margin-top: -50px;
  margin-left: 660px;
  height: auto;
  width: 10%;
  min-width: 155px;
  position: absolute;
  border: 2px solid black;
}

.hoger_bild:hover {
  border: 2px solid #FACD00;
}

.border {
  margin-bottom: 10px;
  height: 10%;
  width: 40%;
  min-width: 650px;
  max-width: 650px;
  border: 2px solid #212529;
}

.border:hover {
  border: 2px solid #495057;
}

.artikel {
  font-weight: bold;
}

.link {
  color: #14213D;
  text-decoration: none;
}

.link:hover {
  color: #495057;
}

.footer {
  margin-top: 10px;
  text-align: center;
}

/*

Style-ORDER

font-family
font-style
background-color
color

margin
margin-top
margin-right
margin-bottom
margin-left

padding
padding-top
padding-right
padding-bottom
padding-left

height
width

float
text-align
text-decoration
display
position
border
list-style
overflow

*/
