


* {
  font-family: Roboto, sans-serif;
  color: #212529;
}

header h6{
   font-family: 'Brush Script MT', cursive;
   font-size: 30px;
}
#logo {
  float: left;
  margin-left: 5px;
  width: 100px;
  height: 75px;
}
body{
  background-image: url(../pics/new.jpeg);
  background-size:cover;
}

ul.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  
}
ul.menu>li{
  position: relative;
  padding-right: 10rem;
  margin-left: 10rem;
}
ul.menu>li>a{
  display: block;
  text-decoration: none;
}
ul.menu>li:hover{
  background-color: gray;
}
ul.menu>li li:hover>a{
  background-color: gray;
}

ul.menu>li>ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  display: none;
}

ul.menu>li:hover>ul{
  display: block;
}
 h2 {
  text-align: center;
  font-size: 40px;
}


.link {
  color: #14213D;
  text-decoration: none;
}

.link:hover {
  color: #495057;
}


.kontakt {
    margin-bottom: 10px;
  padding-bottom: 10px;
  margin: 0px auto;
  height: 200px;
  width: 250px;
  border: 10px solid #212529;
  text-align: center;
  border-image: url(../pics/br.jpeg) 30 round;
}

.kontakt2{
    margin-left: 15px;
    margin: 0px auto;
    margin-bottom: 10px;
  padding-bottom: 10px;
  height: 200px;
  width: 250px;
  border: 10px solid #212529;
  text-align: center;
  border-image: url(../pics/br.jpeg) 30 round;

}
.kontakt4
{
  margin-left: 15px;
    margin: 0px auto;
    margin-bottom: 10px;
  padding-bottom: 10px;
  height: 200px;
  width: 250px;
  border: 10px solid #212529;
  text-align: center;
  border-image: url(../pics/br.jpeg) 30 round;
}

.öppet{
    margin-bottom: 10px;
    margin: 0px auto;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 300px;
    width: 400px;

}

.maps2{
  margin: auto;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: -200px;
    padding-left: 10px;
    height: 300px;
    width: 400px;
    border: 2px solid #212529
}
#kontakt3
{
  margin: 0px auto;

}

#maps
{
  height: 210px;
  width: 380px;
}
